<table class="table table-hover"  >
  <thead>
  <tr>
    <th *ngFor='let column of columns'>
      {{column}}
    </th>
  </tr>
</thead>
<tbody  *ngFor="let item of data |slice:[frm]:[to]; let ind=index; trackBy: trackElement; first as isFirst" (click)="rowClick(item)">
  <!--<tr [ngStyle]="{'backgroundColor': getColor(item)}" [class]="getColor(item)"> -->
     <tr [class]="getColor(item)"> 
      <td *ngFor="let column of columns" [ngStyle]="{'text-align': getColumnAlignStyle(column)==r? 'right':'left'}" >
          {{item[column]|fmt:column}}
      </td>
  </tr>
</tbody>
<tfoot>
    <td *ngFor="let column of columns;let isfirst=first;let islast=last">
        <div *ngIf='isfirst'>
            <button type="button" (click)='btnFirst()' [disabled]='this.pageno<=1' [hidden]='this.data==null || (this.data.length<=this.env.nooftablerecords) ' [class]="env.firstbtnclass">First</button>
            <button type="button" (click)='btnPrev()' [disabled]='this.pageno<=1' [hidden]='this.data==null || (this.data.length<=this.env.nooftablerecords) ' [class]="env.prevbtnclass">Prev</button>

        </div>

        <div *ngIf='islast'>
            <button type="button" (click)='btnNext()' [disabled]='this.data==null|| ((this.pageno *this.env.nooftablerecords)>this.data.length)' [hidden]='this.data==null || (this.data.length<=this.env.nooftablerecords)' [class]="env.nextbtnclass">Next</button>
            <button type="button" (click)='btnLast()' [disabled]='this.data==null|| ((this.pageno *this.env.nooftablerecords)>this.data.length)' [hidden]='this.data==null || (this.data.length<=this.env.nooftablerecords)' [class]="env.lastbtnclass">Last</button>
        </div>
    </td>

  </tfoot>
</table>

   <!--{{this.pageno}}{{frm}}
    {{to}}
    -->