    <!--
    <table class="table" >
        <thead>
        <tr>
          <th >
            {{tblHdr.col1}}
          </th>
          <th >
              {{tblHdr.col2}}
            </th>
          <th >
              {{tblHdr.col3}}
          </th>
          <th >
              {{tblHdr.col4}}
          </th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data |slice:[frm]:[to]; let ind=index; trackBy: trackElement">
          <td>{{item.TranDate}}</td>
          <td>{{item.Desc}}</td>
          <td>{{item.Amount}}</td>
          <td>{{item.Balance}}</td>
          <td>{{ind}}</td>
        </tr>
      </tbody>
      <tfoot>
        <td>test</td>
        <td></td>
        <td></td>
        <td>test</td>
      </tfoot>
    </table>
  -->

  <table class="table" >
      <thead>
      <tr>
        <th *ngFor='let column of columns'>
          {{column}}
        </th>
      </tr>
    </thead>
    <tbody  *ngFor="let item of data |slice:[frm]:[to]; let ind=index; trackBy: trackElement">
      <tr>
          <td *ngFor="let column of columns">
              {{item[column]|fmt:column}}
          </td>
      </tr>
    </tbody>
    <tfoot>
      <td *ngFor="let column of columns;let isfirst=first;let islast=last">
          <div *ngIf='isfirst'>
              <button type="button" (click)='btnFirst()' [disabled]='this.pageno<=1' [hidden]='this.data==null || (this.data.length<=this.env.nooftablerecords) ' [class]="env.firstbtnclass">First</button>
              <button type="button" (click)='btnPrev()' [disabled]='this.pageno<=1' [hidden]='this.data==null || (this.data.length<=this.env.nooftablerecords) ' [class]="env.prevbtnclass">Prev</button>

          </div>

          <div *ngIf='islast'>
              <button type="button" (click)='btnNext()' [disabled]='this.data==null|| ((this.pageno *this.env.nooftablerecords)>this.data.length)' [hidden]='this.data==null || (this.data.length<=this.env.nooftablerecords)' [class]="env.nextbtnclass">Next</button>
              <button type="button" (click)='btnLast()' [disabled]='this.data==null|| ((this.pageno *this.env.nooftablerecords)>this.data.length)' [hidden]='this.data==null || (this.data.length<=this.env.nooftablerecords)' [class]="env.lastbtnclass">Last</button>
          </div>
            
        <!--<div *ngIf='isfirst'><button type="button"  (click)='btnPrev()' [hidden]='en_prevbtn' class="pager">Prev</button></div>
        <div *ngIf='islast'><button type="button"  (click)='btnNext()' [disabled]='en_nextbtn'>Next</button></div>
        {{i}}
        -->
        
      </td>

    </tfoot>
  </table>
    <!--{{this.pageno}}{{frm}}
    {{to}}
    -->